html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
}

/******************
		PREDEFINED
******************/
/* TYPOGRAPHY */
h2, h3, h4, h5 {
  font-weight: bolder;
  letter-spacing: .2em;
}

p {}

span {
  font-size: .8em;
}


/* FORMS */
.input-error {
  border: 1px solid red;
}

/* BUTTONS */
.btn {
  padding: .5em 2.5em;
}

.btn:hover {
  opacity: 0.8;
}

/* CONTAINERS */

.alert-box {
  padding: 1.5em 5em;
  background-color: #3693f4;
  color: #fff;
}

.closebtn {
  color: #fff;
  font-weight: bold;
  float: right;
  font-size: 1.5em;
  line-height: 1.5em;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: red;
}

/******************
		HEADER
******************/
nav {
  height: 5em;
}

.nav-brand {
  font-size: 2em;
  font-weight: bold;
  color: #2784bf;
  text-transform: uppercase;
}

/******************
		MAIN
******************/
main {
  min-height: 100%;
}

#main-section {
  overflow: auto;
  padding-bottom: 100px;
}

/******************
		REGISTER
******************/
/******************
		  LOGIN
******************/
#login-form h2 {
  font-size: 2em;
}

.login-img-container {
  text-align: center;
}

.login-avatar {
  width: 40%;
  cursor: pointer;
}

.close {
  font-size: 2em;
  cursor: pointer;
}

.close:hover {
  color: red;
}

/******************
		PROFILE
******************/
.profile-box {
  height: 8em;
}

.profile-box:nth-child(1) {
  background: #597db1;
}

.profile-box:nth-child(2) {
  background: rgb(157, 74, 143);
}

.profile-box:nth-child(3) {
  background: rgb(127, 14, 143);
}

.profile-box:nth-child(4) {
  background: rgb(257, 78, 193);
}

.profile-box:nth-child(6) {
  background: rgb(238, 121, 95);
}

.profile-box:nth-child(7) {
  background: rgb(189, 184, 78);
}

.profile-box:nth-child(8) {
  background: rgb(108, 203, 189);
}

/******************
		SETTINGS
******************/
/******************
		FORGOT
******************/
/******************
		FOOTER
******************/
footer {
  position: relative;
  height: 100px;
  clear: both;
}

/******************
		 ANIMATION
******************/
/*  Zoom In Animation */
.zoomIn {
  -webkit-animation: zoomIn 0.6s;
  -moz-animation: zoomIn 0.6s;
  animation: zoomIn 0.6s
}

@-webkit-keyframes zoomIn {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@-moz-keyframes zoomIn {
  from {
    -moz-transform: scale(0)
  }

  to {
    -moz-transform: scale(1)
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}
